# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/

# Ignore editor/IDE settings
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore environment variable/config files
.env

# Ignore logs
*.log

# Ignore compiled files
*.exe
*.out
*.dll

# macOS system files
.DS_Store

# Windows thumbnail database
Thumbs.db

